body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: green;
}


header {
    background-color: purple;
    margin: 5 0 0 0;
}

#view-highscore {
    border: dotted 2px red;
    width: fit-content;
}

#view-highscore:hover {
    color: white;
    cursor: pointer;
}

#timer {
    position: relative;
    bottom: 68px;
    border: dotted 2px red;
    float: right;
}

#quiz-box {
    margin: 5px auto;
    border: dotted 2px red;
    text-align: center;
}

.filler, .answers{
    margin: 5px auto;
    border: dotted 2px red;
    text-align: center;
    width: 350px;
}

.filler:hover {
    cursor: default;
}

.answers:hover {
    color: white;
    cursor: pointer;
}

#start-button {
    border: dotted 2px red;
    text-align: center;
    width: 125px;
    height: 25px;
    line-height: 25px;
    margin: auto;
}

#start-button:hover {
    color: white;
    cursor: pointer;
}

#highscore-box {
    margin: 5px auto;
    border: dotted 2px red;
    display: none;
}

#clear-button {
    position: relative;
    float: right;
    border: dotted 2px red;
    text-align: center;
    width: 175px;
    height: 25px;
    line-height: 25px;
}

#clear-button:hover {
    color: #ffffff;
    cursor: pointer;
}